In [38]:
import pandas as pd

df = pd.read_csv('/content/DE/bc_trip259172515_230215.csv')

print(df.head())

   EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0      259172515      259172517  15FEB2023:00:00:00        4223      40
1      259172515      259172517  15FEB2023:00:00:00        4223      48
2      259172515      259172517  15FEB2023:00:00:00        4223      57
3      259172515      259172517  15FEB2023:00:00:00        4223      73
4      259172515      259172517  15FEB2023:00:00:00        4223     112

   ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0     20469    -122.648137     45.493082              12       0.7
1     20474    -122.648240     45.493070              12       0.8
2     20479    -122.648352     45.493123              12       0.8
3     20484    -122.648385     45.493262              12       0.7
4     20489    -122.648347     45.493582              12       0.8

In [39]:
df = pd.read_csv(filepath_or_buffer='/content/DE/bc_trip259172515_230215.csv',usecols=['EVENT_NO_TRIP','OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE'])
print(df)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE
0      -122.648137     45.493082
1      -122.648240     45.493070
2      -122.648352     45.493123
3      -122.648385     45.493262
4      -122.648347     45.493582
..             ...           ...
156    -122.677057     45.528040
157    -122.677003     45.528037
158    -122.676765     45.528043
159    -122.676370     45.528047
160    -122.675990     45.528065

[161 rows x 7 columns]

In [40]:
df['OPD_DATE'] = pd.to_datetime(df['OPD_DATE'], format='%d%b%Y:%H:%M:%S')

df['ACT_TIME'] = pd.to_timedelta(df['ACT_TIME'], unit='s')

df['TIMESTAMP'] = df['OPD_DATE'] + df['ACT_TIME']

df = df.drop(columns = ['OPD_DATE', 'ACT_TIME'])

print(df)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP
0   2023-02-15 05:41:09
1   2023-02-15 05:41:14
2   2023-02-15 05:41:19
3   2023-02-15 05:41:24
4   2023-02-15 05:41:29
..                  ...
156 2023-02-15 05:56:29
157 2023-02-15 05:57:04
158 2023-02-15 05:57:09
159 2023-02-15 05:57:14
160 2023-02-15 05:57:19

[161 rows x 6 columns]

In [41]:
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])

df['dMETERS'] = df['METERS'].diff()
df['dTIMESTAMP'] = df['TIMESTAMP'].diff()

df['SPEED'] = df.apply(lambda row: row['dMETERS'] / row['dTIMESTAMP'].total_seconds() if row['dTIMESTAMP'] != pd.NaT else 0, axis=1)

df = df.drop(['dMETERS', 'dTIMESTAMP'], axis=1)

print(df)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP     SPEED
0   2023-02-15 05:41:09       NaN
1   2023-02-15 05:41:14  1.600000
2   2023-02-15 05:41:19  1.800000
3   2023-02-15 05:41:24  3.200000
4   2023-02-15 05:41:29  7.800000
..                  ...       ...
156 2023-02-15 05:56:29  2.800000
157 2023-02-15 05:57:04  0.114286
158 2023-02-15 05:57:09  4.000000
159 2023-02-15 05:57:14  6.200000
160 2023-02-15 05:57:19  5.800000

[161 rows x 7 columns]

In [43]:
df['SPEED'].describe()

count    160.000000
mean       7.227206
std        4.420604
min        0.000000
25%        3.800000
50%        6.400000
75%       10.850000
max       17.400000
Name: SPEED, dtype: float64

In [68]:
df1 = pd.read_csv('/content/DE/bc_veh4223_230215.csv')

print(df1)

      EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0         259173279      259173350  15FEB2023:00:00:00        4223  194493
1         259173279      259173350  15FEB2023:00:00:00        4223  194525
2         259173279      259173350  15FEB2023:00:00:00        4223  194562
3         259173279      259173350  15FEB2023:00:00:00        4223  194598
4         259173279      259173350  15FEB2023:00:00:00        4223  194628
...             ...            ...                 ...         ...     ...
7401      259173498      259173583  15FEB2023:00:00:00        4223  251109
7402      259173498      259173583  15FEB2023:00:00:00        4223  251162
7403      259173498      259173583  15FEB2023:00:00:00        4223  251199
7404      259173498      259173583  15FEB2023:00:00:00        4223  251238
7405      259173498      259173583  15FEB2023:00:00:00        4223  251289

      ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0        71279    -122.679572     45.517122               8       1.6
1        71284    -122.679408     45.517392               8       1.9
2        71290    -122.679227     45.517700               8       2.2
3        71295    -122.679048     45.517998               9       0.9
4        71300    -122.678888     45.518255               9       1.3
...        ...            ...           ...             ...       ...
7401     84315    -122.641148     45.539688              12       0.8
7402     84320    -122.641138     45.540175              12       0.7
7403     84325    -122.641107     45.540512              12       0.7
7404     84330    -122.641142     45.540860              12       0.7
7405     84335    -122.641140     45.541325              12       0.7

[7406 rows x 10 columns]

In [75]:
df1 = pd.read_csv(filepath_or_buffer='/content/DE/bc_veh4223_230215.csv',usecols=['EVENT_NO_TRIP','OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE'])
print(df1)

      EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0         259173279  15FEB2023:00:00:00        4223  194493     71279
1         259173279  15FEB2023:00:00:00        4223  194525     71284
2         259173279  15FEB2023:00:00:00        4223  194562     71290
3         259173279  15FEB2023:00:00:00        4223  194598     71295
4         259173279  15FEB2023:00:00:00        4223  194628     71300
...             ...                 ...         ...     ...       ...
7401      259173498  15FEB2023:00:00:00        4223  251109     84315
7402      259173498  15FEB2023:00:00:00        4223  251162     84320
7403      259173498  15FEB2023:00:00:00        4223  251199     84325
7404      259173498  15FEB2023:00:00:00        4223  251238     84330
7405      259173498  15FEB2023:00:00:00        4223  251289     84335

      GPS_LONGITUDE  GPS_LATITUDE
0       -122.679572     45.517122
1       -122.679408     45.517392
2       -122.679227     45.517700
3       -122.679048     45.517998
4       -122.678888     45.518255
...             ...           ...
7401    -122.641148     45.539688
7402    -122.641138     45.540175
7403    -122.641107     45.540512
7404    -122.641142     45.540860
7405    -122.641140     45.541325

[7406 rows x 7 columns]

In [76]:
df1['OPD_DATE'] = pd.to_datetime(df1['OPD_DATE'], format='%d%b%Y:%H:%M:%S')
df1['ACT_TIME'] = pd.to_timedelta(df1['ACT_TIME'], unit='s')
df1['TIMESTAMP'] = df1['OPD_DATE'] + df1['ACT_TIME']
df1 = df1.drop(columns=['OPD_DATE', 'ACT_TIME'])
print(df1.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259173279        4223  194493    -122.679572     45.517122
1      259173279        4223  194525    -122.679408     45.517392
2      259173279        4223  194562    -122.679227     45.517700
3      259173279        4223  194598    -122.679048     45.517998
4      259173279        4223  194628    -122.678888     45.518255

            TIMESTAMP
0 2023-02-15 19:47:59
1 2023-02-15 19:48:04
2 2023-02-15 19:48:10
3 2023-02-15 19:48:15
4 2023-02-15 19:48:20

In [77]:
def calculate_speed(data):
    data['dMETERS'] = data['METERS'].diff()
    data['dTIMESTAMP'] = data['TIMESTAMP'].diff().dt.total_seconds()
    data['SPEED'] = data.apply(lambda row: row['dMETERS'] / row['dTIMESTAMP'] if row['dTIMESTAMP'] > 0 else 0, axis=1)
    return data.drop(['dMETERS', 'dTIMESTAMP'], axis=1)

df1 = df1.groupby('EVENT_NO_TRIP').apply(calculate_speed)

print(df1)

                    EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  \
EVENT_NO_TRIP
259169000     3617      259169000        4029    4223    -122.684340
259172515     2313      259172515        4223      40    -122.648137
              2314      259172515        4223      48    -122.648240
              2315      259172515        4223      57    -122.648352
              2316      259172515        4223      73    -122.648385
...                           ...         ...     ...            ...
259173705     6956      259173705        4223  291135    -122.639393
              6957      259173705        4223  291135    -122.639393
              6958      259173705        4223  291135    -122.639393
              6959      259173705        4223  291156    -122.639688
              6960      259173705        4223  291208    -122.640383

                    GPS_LATITUDE           TIMESTAMP  SPEED
EVENT_NO_TRIP
259169000     3617     45.508072 2023-02-15 07:07:21    0.0
259172515     2313     45.493082 2023-02-15 05:41:09    0.0
              2314     45.493070 2023-02-15 05:41:14    1.6
              2315     45.493123 2023-02-15 05:41:19    1.8
              2316     45.493262 2023-02-15 05:41:24    3.2
...                          ...                 ...    ...
259173705     6956     45.490315 2023-02-16 01:29:48    2.6
              6957     45.490315 2023-02-16 01:29:49    0.0
              6958     45.490315 2023-02-16 01:29:53    0.0
              6959     45.490315 2023-02-16 01:29:58    4.2
              6960     45.490312 2023-02-16 01:30:03   10.4

[7406 rows x 7 columns]

<ipython-input-77-ab3998edcb5b>:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df1 = df1.groupby('EVENT_NO_TRIP').apply(calculate_speed)

In [78]:
df1 = df1.drop(columns= ['METERS', 'TIMESTAMP'])
df1.head()

                    EVENT_NO_TRIP  VEHICLE_ID  GPS_LONGITUDE  GPS_LATITUDE  \
EVENT_NO_TRIP
259169000     3617      259169000        4029    -122.684340     45.508072
259172515     2313      259172515        4223    -122.648137     45.493082
              2314      259172515        4223    -122.648240     45.493070
              2315      259172515        4223    -122.648352     45.493123
              2316      259172515        4223    -122.648385     45.493262

                    SPEED
EVENT_NO_TRIP
259169000     3617    0.0
259172515     2313    0.0
              2314    1.6
              2315    1.8
              2316    3.2

In [79]:
df1['SPEED'].describe()

count    7406.000000
mean        7.146800
std         3.942312
min         0.000000
25%         4.200000
50%         7.200000
75%        10.200000
max        17.400000
Name: SPEED, dtype: float64

In [103]:
max_speed_4223 = df1['SPEED'].max()
max_speed_4223 = df1.loc[df1['SPEED'] == max_speed_4223]
print(max_speed_4223)

                    EVENT_NO_TRIP  VEHICLE_ID  GPS_LONGITUDE  GPS_LATITUDE  \
EVENT_NO_TRIP
259172515     2356      259172515        4223    -122.660822     45.505452
259173647     6573      259173647        4223    -122.535638     45.489627

                    SPEED
EVENT_NO_TRIP
259172515     2356   17.4
259173647     6573   17.4

In [105]:
df2 = pd.read_csv('/content/DE/bc_230215.csv')
df2.head()

,EVENT_NO_TRIP,EVENT_NO_STOP,OPD_DATE,VEHICLE_ID,METERS,ACT_TIME,GPS_LONGITUDE,GPS_LATITUDE,GPS_SATELLITES,GPS_HDOP
0,259173279,259173350,15FEB2023:00:00:00,4223,194493,71279,-122.679572,45.517122,8.0,1.6
1,259173279,259173350,15FEB2023:00:00:00,4223,194525,71284,-122.679408,45.517392,8.0,1.9
2,259173279,259173350,15FEB2023:00:00:00,4223,194562,71290,-122.679227,45.517700,8.0,2.2
3,259173279,259173350,15FEB2023:00:00:00,4223,194598,71295,-122.679048,45.517998,9.0,0.9
4,259173279,259173350,15FEB2023:00:00:00,4223,194628,71300,-122.678888,45.518255,9.0,1.3

In [106]:
df2 = pd.read_csv(filepath_or_buffer='/content/DE/bc_230215.csv',usecols=['EVENT_NO_TRIP','OPD_DATE', 'VEHICLE_ID', 'METERS', 'ACT_TIME', 'GPS_LONGITUDE', 'GPS_LATITUDE'])
print(df2)

         EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0            259173279  15FEB2023:00:00:00        4223  194493     71279
1            259173279  15FEB2023:00:00:00        4223  194525     71284
2            259173279  15FEB2023:00:00:00        4223  194562     71290
3            259173279  15FEB2023:00:00:00        4223  194598     71295
4            259173279  15FEB2023:00:00:00        4223  194628     71300
...                ...                 ...         ...     ...       ...
2221397      258480928  15FEB2023:00:00:00        4304  109998     69191
2221398      258480928  15FEB2023:00:00:00        4304  110041     69197
2221399      258480928  15FEB2023:00:00:00        4304  110079     69202
2221400      258480928  15FEB2023:00:00:00        4304  110114     69207
2221401      258480928  15FEB2023:00:00:00        4304  110160     69211

         GPS_LONGITUDE  GPS_LATITUDE
0          -122.679572     45.517122
1          -122.679408     45.517392
2          -122.679227     45.517700
3          -122.679048     45.517998
4          -122.678888     45.518255
...                ...           ...
2221397    -122.686300     45.594515
2221398    -122.686768     45.594723
2221399    -122.686840     45.595065
2221400    -122.686522     45.595262
2221401    -122.685990     45.595175

[2221402 rows x 7 columns]

In [107]:
df2['OPD_DATE'] = pd.to_datetime(df2['OPD_DATE'], format='%d%b%Y:%H:%M:%S')
df2['ACT_TIME'] = pd.to_timedelta(df2['ACT_TIME'], unit='s')
df2['TIMESTAMP'] = df2['OPD_DATE'] + df2['ACT_TIME']
df2 = df2.drop(columns= ['ACT_TIME', 'OPD_DATE'])
print(df2.head())

   EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0      259173279        4223  194493    -122.679572     45.517122
1      259173279        4223  194525    -122.679408     45.517392
2      259173279        4223  194562    -122.679227     45.517700
3      259173279        4223  194598    -122.679048     45.517998
4      259173279        4223  194628    -122.678888     45.518255

            TIMESTAMP
0 2023-02-15 19:47:59
1 2023-02-15 19:48:04
2 2023-02-15 19:48:10
3 2023-02-15 19:48:15
4 2023-02-15 19:48:20

In [108]:
df2 = df2.groupby(['VEHICLE_ID', 'EVENT_NO_TRIP']).apply(calculate_speed)
df2 = df2.drop(columns=['METERS'])
print(df2)

                                 EVENT_NO_TRIP  VEHICLE_ID  GPS_LONGITUDE  \
VEHICLE_ID EVENT_NO_TRIP
2912       259167509     15898       259167509        2912    -122.844125
                         15899       259167509        2912    -122.844180
                         15900       259167509        2912    -122.844322
                         15901       259167509        2912    -122.844243
                         15902       259167509        2912    -122.844078
...                                        ...         ...            ...
4531       258230458     138345      258230458        4531    -122.562605
                         138346      258230458        4531    -122.562910
                         138347      258230458        4531    -122.563113
                         138348      258230458        4531    -122.563198
                         138349      258230458        4531    -122.563335

                                 GPS_LATITUDE           TIMESTAMP     SPEED
VEHICLE_ID EVENT_NO_TRIP
2912       259167509     15898      45.503445 2023-02-15 15:51:11  0.000000
                         15899      45.503458 2023-02-15 15:51:16  0.800000
                         15900      45.503538 2023-02-15 15:51:21  3.200000
                         15901      45.503755 2023-02-15 15:51:26  5.000000
                         15902      45.504017 2023-02-15 15:51:31  6.200000
...                                       ...                 ...       ...
4531       258230458     138345     45.494577 2023-02-15 13:24:45  0.800000
                         138346     45.494578 2023-02-15 13:25:20  0.714286
                         138347     45.494635 2023-02-15 13:25:25  3.200000
                         138348     45.494763 2023-02-15 13:25:30  3.000000
                         138349     45.494837 2023-02-15 13:25:35  3.200000

[2221402 rows x 6 columns]

<ipython-input-108-3e19c7931c91>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df2 = df2.groupby(['VEHICLE_ID', 'EVENT_NO_TRIP']).apply(calculate_speed)

In [102]:
max_speed = df2['SPEED'].max()
max_speed_details = df2.loc[df2['SPEED'] == max_speed]
print(max_speed_details)

                                  EVENT_NO_TRIP  VEHICLE_ID  GPS_LONGITUDE  \
VEHICLE_ID EVENT_NO_TRIP
3244       258750515     1734683      258750515        3244    -122.879553

                                  GPS_LATITUDE           TIMESTAMP       SPEED
VEHICLE_ID EVENT_NO_TRIP
3244       258750515     1734683     45.509918 2023-02-15 18:05:38  200.333333

In [111]:
mean_speed = df2.groupby(level=['VEHICLE_ID', 'EVENT_NO_TRIP'])['SPEED'].mean()

max_mean_speed = mean_speed.max()
fastest_vehicle_trip = mean_speed.idxmax()

print(f"The vehicle and trip with the fastest mean speed were Vehicle ID: {fastest_vehicle_trip[0]}, Trip ID: {fastest_vehicle_trip[1]}")
print(f"This mean speed was {max_mean_speed} meters per second.")

The vehicle and trip with the fastest mean speed were Vehicle ID: 3419, Trip ID: 258614729
This mean speed was 21.889053500310045 meters per second.